fastapi
uvicorn[standard]
psycopg2-binary
python-dotenv
cloudinary
requests
Pillow
ultralytics
scikit-learn==1.6.1
scikit-image
numpy
pandas
joblib
shap
python-jose[cryptography]
python-multipart
aiofiles
imbalanced-learn